[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
pip = "*"
django = ">=4.2,<6.0"
pillow = "<10"

[dev-packages]

[requires]
python_version = "3.12"
